services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file: .env
    restart: unless-stopped
    networks:
      - inception

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/html
    env_file: .env
    restart: unless-stopped
    networks:
      - inception

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/safandri/data/mariadb
    
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/safandri/data/wordpress

networks:
  inception:
    driver: bridge
